/* font-family: 'Luckiest Guy', cursive; */
/* font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box;
}

:root {
  --ola-white-color: #ffffff;
  --ola-red-color: #f30501;
  --ola-green-color: #46a916;
  --ola-yellow-color: #ffdd00;
}

body {
  margin: 0px;
  padding: 0px;
}
h3 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--ola-white-color);
}

.navigation {
  max-width: 1200px;
  margin: 0 auto;
}

.navigation-wrap {
  display: flex;
  justify-content: space-around;
}

.navigation-item-logo img {
  margin-left: 0;
  height: 70px;
}

.navigation-item-search {
  margin-right: 0;
}

.navigation-item-search a {
  text-decoration: none;
  padding: 1.6rem;
  color: var(--ola-red-color);
}

.navigation-item-search a:hover {
  color: var(--ola-white-color);
  background: var(--ola-red-color);
}

.navigation-item-bar {
  margin: auto;
  display: flex;
}

.navigation-item-bar a {
  text-decoration: none;
  padding: 2rem 2rem;
}

.navigation-item-bar li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.navigation-item-bar li a {
  color: var(--ola-red-color);
}

.navigation-item-bar li a:hover {
  color: var(--ola-white-color);
  background: var(--ola-red-color);
}

.showcase {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--ola-white-color);
  width: 100vw;
  height: 35vh;
  font-family: "Luckiest Guy", cursive;
  background: url("//asset-eu.unileversolutions.com/content/dam/unilever/heart/netherlands/general_image/walls_nl_header-1382974-jpg.jpg.ulenscale.1440x360.jpg")
    no-repeat center center/cover;
}
.showcase h1 {
  margin: 2rem;
  font-size: 4rem;
}
.products {
  width: 100%;
  background: var(--ola-red-color);
}
.product-wrap {
  display: flex;
  flex-flow: row wrap;
}
.product-wrap .product {
  width: 25%;
  height: 25%;
}

.history-section {
  width: 100%;
  background: var(--ola-green-color);
}
.history-wrap {
  display: flex;
  justify-content: space-around;
}
.history-wrap img {
  margin: 3rem 2rem;
  width: 50%;
  height: 50%;
}
/* .first-item-row {
  display: flex;
  flex-direction: row;
}
.items .first-item-row img {
  flex: 1 1 auto;
  width: 20%;
  height: 20%;
}
.items .second-item-row img {
  flex: 1 1 auto;
  width: 25%;
  height: 25%;
}
.items {
  background: var(--ola-red-color); */
/* } */
/* .history {
  background: var(--ola-green-color);
  width: 100vw;
  height: auto;
}
.history .illustration {
  width: 40vw;
  height: auto;
  margin: 3rem 3rem 3rem 1rem;
} */
