/* font-family: 'Luckiest Guy', cursive; */
/* font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box;
}

:root {
  --ola-white-color: #ffffff;
  --ola-red-color: #f30501;
  --ola-green-color: #46a916;
  --ola-yellow-color: #ffdd00;
}

body {
  margin: 0px;
  padding: 0px;
}
h3 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--ola-white-color);
}

.navigation {
  max-width: 1200px;
  margin: 0 auto;
}

.navigation-wrap {
  display: flex;
  justify-content: space-around;
}

.navigation-item-logo img {
  margin-left: 0;
  height: 70px;
}

.navigation-item-search {
  margin-right: 0;
}

.navigation-item-search a {
  text-decoration: none;
  padding: 1.6rem;
  color: var(--ola-red-color);
}

.navigation-item-search a:hover {
  color: var(--ola-white-color);
  background: var(--ola-red-color);
}

.navigation-item-bar {
  margin: auto;
  display: flex;
}

.navigation-item-bar a {
  text-decoration: none;
  padding: 2rem 2rem;
}

.navigation-item-bar li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.navigation-item-bar li a {
  color: var(--ola-red-color);
}

.navigation-item-bar li a:hover {
  color: var(--ola-white-color);
  background: var(--ola-red-color);
}

.showcase {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--ola-white-color);
  width: 100vw;
  height: 35vh;
  font-family: "Luckiest Guy", cursive;
  background: url("//asset-eu.unileversolutions.com/content/dam/unilever/heart/netherlands/general_image/walls_nl_header-1382974-jpg.jpg.ulenscale.1440x360.jpg")
    no-repeat center center/cover;
}
.showcase h1 {
  margin: 2rem;
  font-size: 4rem;
}
.products {
  width: 100%;
  background: var(--ola-red-color);
}
.product-wrap {
  display: flex;
  flex-flow: row wrap;
}
.product-wrap .product {
  width: 25%;
  height: 25%;
}

.history-section {
  width: 100%;
  background: var(--ola-green-color);
}
.history-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.history-wrap img {
  margin: 3rem 2rem;
  width: 50%;
  height: 50%;
}
.history-link-title {
  display: block;
  font-family: "Luckiest Guy", cursive;
  font-size: 1.2rem;
  color: var(--ola-white-color);
  text-decoration: none;
  margin-right: 3rem;
}
.history-link-btn {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: var(--ola-white-color);
  text-decoration: none;
}
.discover-section {
  width: 100%;
  background: var(--ola-yellow-color);
}
.discover-wrap {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.discover-wrap h2 {
  color: var(--ola-red-color);
  font-family: "Luckiest Guy", cursive;
  margin: 2rem 0;
}
.discover-wrap .discover-stories {
  display: flex;
  justify-content: center;
}

.discover-story-left h2 {
  color: var(--ola-white-color);
  background: url("//asset-eu.unileversolutions.com/content/dam/unilever/heart/global/general_image/spoon_640x640-1390623-jpg.jpg.ulenscale.320x200.jpg")
    no-repeat center;
  padding: 5.5rem 5.8rem;
  margin: 0;
}
.discover-story-right h2 {
  color: var(--ola-white-color);
  background: url("//asset-eu.unileversolutions.com/content/dam/unilever/heart/global/general_image/ice_cream/out_of_home_ice_cream/walls_c52_relatedarticles_girls-1052897-jpg.jpg.ulenscale.320x200.jpg")
    no-repeat center;
  padding: 5.5rem 1.2rem;
  margin: 0;
}
.discover-story-btn {
  color: var(--ola-red-color);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding: 1rem 2rem;
  margin: 1rem;
  border: 1px solid var(--ola-red-color);
  border-radius: 40px;
}
.discover-story-btn:hover {
  background: #f1e46b;
}
.footer-section {
  width: 100%;
  background: var(--ola-red-color);
}
.footer-wrap {
  display: flex;
  flex-flow: row wrap;
}
.footer-link-bar {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  margin: 3rem;
}
.footer-link-bar a {
  color: var(--ola-white-color);
  font-family: "Roboto", sans-serif;
}
.footer-link-bar a:hover {
  text-decoration-line: underline;
}
