/* font-family: 'Luckiest Guy', cursive; */
/* font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box;
}

:root {
  --ola-white-color: #ffffff;
  --ola-red-color: #f30501;
  --ola-green-color: #46a916;
  --ola-yellow-color: #ffdd00;
}

body {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--ola-white-color);
}

.navigation-wrap {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.navigation-item-logo img {
  flex: 0 1 auto;
  margin-left: 0;
  height: 70px;
}

.navigation-item-search {
  margin-right: 0;
  flex: 0 1 auto;
}

.navigation-item-search a {
  text-decoration: none;
  padding: 1.6rem;
  color: var(--ola-red-color);
}

.navigation-item-search a:hover {
  color: var(--ola-white-color);
  background: var(--ola-red-color);
}

.navigation-item-bar {
  display: flex;
  flex: 0 1 auto;
  margin: 2rem 0 0 0;
  padding: 0;
  list-style: none;
}

.navigation-item-bar a {
  text-decoration: none;
  padding: 2rem 2rem;
}

.navigation-item-bar li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.navigation-item-bar li a {
  color: var(--ola-red-color);
}

.navigation-item-bar li a:hover {
  color: var(--ola-white-color);
  background: var(--ola-red-color);
}

.showcase {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--ola-white-color);
  width: 100vw;
  height: 35vh;
  font-family: "Luckiest Guy", cursive;
  background: url("//asset-eu.unileversolutions.com/content/dam/unilever/heart/netherlands/general_image/walls_nl_header-1382974-jpg.jpg.ulenscale.1440x360.jpg")
    no-repeat center center/cover;
}
.showcase h1 {
  margin: 2rem;
  font-size: 4rem;
}

.product-wrap {
  display: flex;
  flex-flow: row wrap;
  background: var(--ola-red-color);
}
.product {
  flex: 0 1 25%;
}

.product img {
  width: 100%;
  display: block;
}

.history-section {
  background: var(--ola-green-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.history-image {
  flex: 0 1 50%;
  margin: 3rem 2rem;
}
.history-image img {
  width: 100%;
  display: block;
}

.history-link-title {
  flex: 0 1 auto;
  display: block;
  font-family: "Luckiest Guy", cursive;
  font-size: 1.2rem;
  color: var(--ola-white-color);
  text-decoration: none;
  margin-right: 3rem;
}
.history-link-btn {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: var(--ola-white-color);
  text-decoration: none;
}
.discover-section {
  background: var(--ola-yellow-color);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.discover-section h2 {
  color: var(--ola-red-color);
  font-family: "Luckiest Guy", cursive;
  margin: 2rem 0;
}
.discover-stories {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 2rem;
}

.discover-story-left h2 {
  color: var(--ola-white-color);
  text-decoration: none;
  font-family: "Luckiest Guy", cursive;
  position: absolute;
  bottom: 1rem;
  left: 5rem;
}
.discover-stories h2 {
  color: var(--ola-white-color);
  text-decoration: none;
  font-family: "Luckiest Guy", cursive;
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
}
.discover-story-left img {
  width: 100%;
  display: block;
  flex: 0 1 auto;
}
.discover-story-right img {
  width: 100%;
  display: block;
  flex: 0 1 auto;
}
.discover-story-btn {
  color: var(--ola-red-color);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding: 1rem 2rem;
  margin: 1rem 0 3rem 0;
  border: 1px solid var(--ola-red-color);
  border-radius: 40px;
}
.discover-story-btn:hover {
  background: #f1e46b;
}
.footer-section {
  background: var(--ola-red-color);
}

.footer-link-bar {
  display: flex;
  justify-content: center;
  padding: 3rem 0 3rem 0;
  margin-top: 0;
  list-style: none;
}
.footer-link-bar a {
  color: var(--ola-white-color);
  font-family: "Roboto", sans-serif;
  padding: 0 1rem;
}
.footer-link-bar a:hover {
  text-decoration-line: underline;
}
.footer-middle {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.footer-social-bar a {
  color: var(--ola-white-color);
}
.footer-bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-logo {
  flex: 0 1 0;
  width: 2rem;
}

.footer-bottom p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: var(--ola-white-color);
}
.footer-country {
  display: flex;
  justify-content: space-between;
}
.footer-country p {
  margin: 1rem;
  align-items: center;
}
.footer-country a {
  color: var(--ola-white-color);
}
