/* font-family: 'Luckiest Guy', cursive; */
/* font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box;
}

:root {
  --ola-white-color: #ffffff;
  --ola-red-color: #f30501;
  --ola-green-color: #46a916;
  --ola-yellow-color: #ffdd00;
}

body {
  margin: 0px;
  padding: 0px;
}
h3 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--ola-white-color);
  justify-content: space-around;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}
li {
  flex: 1 1 auto;
  margin: 0 1rem;
  padding: 0rem;
}
.logo-ola {
  transform: scale(0.6);
  margin: -25px;
}

.navbar .nav-menu li a {
  font-family: helvetica, sans-serif;
  padding: 0rem;
  color: var(--ola-red-color);
  text-decoration: none;
  /* border: 2px solid black; */
}
.navbar .nav-menu a:hover {
  color: var(--ola-white-color);
  /* background: var(--ola-red-color); */
}
.navbar .search {
  transform: scale(2);
  margin: 25px;
  color: var(--ola-red-color);
  text-decoration: none;
}
.showcase {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--ola-white-color);
  width: 100vw;
  height: 35vh;
  font-family: "Luckiest Guy", cursive;
  background: url("//asset-eu.unileversolutions.com/content/dam/unilever/heart/netherlands/general_image/walls_nl_header-1382974-jpg.jpg.ulenscale.1440x360.jpg")
    no-repeat center center/cover;
}
.showcase h1 {
  margin: 2rem;
  font-size: 4rem;
}
.first-item-row {
  display: flex;
  flex-direction: row;
}
.items .first-item-row img {
  flex: 1 1 auto;
  width: 20%;
  height: 20%;
}
.items .second-item-row img {
  flex: 1 1 auto;
  width: 25%;
  height: 25%;
}
.items {
  background: var(--ola-red-color);
}
.history {
  background: var(--ola-green-color);
  height: 40vh;
}
.history .illustration {
  width: 500px;
  margin: 3rem 3rem 3rem 1rem;
}
